.table-add-item__button {
  font-size: 18px;
  border: 1px solid silver;
  padding: 10px 20px;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  margin-bottom: 20px;

  transition: all 0.4s ease;
}
.table-add-item__button:hover {
  cursor: pointer;
  background-color: steelblue;
  border-color: steelblue;
  color: white;
}

.table-add-item {
  display: none;

  border: 1px solid silver;
  padding: 20px;
  border-radius: 3px;
  margin: 20px 0px;
}
.table-add-item.active {
  display: block;
}
.table-add-item__block--first {
  display: flex;
}

.table-add-item__input {
  border: 1px solid silver;
  padding: 20px;
  border-radius: 3px;
  margin: 20px 0px;
  margin-right: 10px;
}
.table-add-item__input.id {
  width: 35px;
}
.table-add-item__input.firstname {
  width: 110px;
}
.table-add-item__input.lastname {
  width: 110px;
}
.table-add-item__input.email {
  width: 150px;
}
.table-add-item__input.phone {
  width: 150px;
}

.table-add-item__textarea {
  width: 600px;
  height: 90px;
  resize: none;
  margin: 5px 0;
  padding: 10px;
  font-size: 18px;
  border: 1px solid silver;
  border-radius: 3px;
}
.table-add-item__input__block--second__button {
  border: 1px solid silver;
  padding: 20px;
  padding-right: 70px;
  margin: 0px;
  border-radius: 3px;
  margin-left: 20px;
  position: relative;
  bottom: 27px;
}
