.table-header * {
  display: inline-block;
  padding: 30px 20px;
  border: 1px solid silver;
  border-right: none;
  margin-bottom: -1px;
  font-size: 20px;
  background-color: rgb(240, 240, 240);
}

.table-header *:hover {
  cursor: pointer;
}

.table-header__item:nth-child(1) {
  width: 40px;
}

.table-header__item:nth-child(2) {
  width: 120px;
}

.table-header__item:nth-child(3) {
  width: 120px;
}

.table-header__item:nth-child(4) {
  width: 220px;
}

.table-header__item:nth-child(5) {
  width: 150px;
  border-right: 1px solid silver;
}
