.table-header div {
  display: inline-block;
  padding: 30px 20px;
  border: 1px solid silver;
  border-right: none;
  margin-bottom: -1px;
  font-size: 20px;
  background-color: rgb(240, 240, 240);
  position: relative;
}
.header__btn {
}
.header__btn i {
  position: absolute;
}
/* .table-header div {
  display: flex;
  position: relative;
} */
/* 
.table-header *:hover {
  cursor: pointer;
}
.header__btn {
  outline: none;
}
.header__btn i {
  position: absolute;
}
.header__btn.id {
  width: 81px;
}
.header__btn.first-name {
  width: 161px;
}
.header__btn.last-name {
  width: 161px;
}
.header__btn.email {
  width: 261px;
}
.header__btn.phone {
  width: 192px;
  border-right: 1px solid silver;
} */
