@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.App {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: 856px;
}
